$sloped-edge-layout: 'x';

@import '../../../src/index';

.section {
  &.is-sloped {
    @include sloped-edge-root;
  }

  @each $config in $sloped-edge-config {
    $index: index($sloped-edge-config, $config);
    $color: map-get($section-colors, if($index % 2 == 0, 'even', 'odd'));

    &:nth-child(#{$index + 1}) {
      padding-left: nth($config, 2);
    }

    &:nth-child(#{$index}) {
      @include sloped-edge($color, nth($config, 1), nth($config, 2));
    }
  }
}

