body {
  counter-reset: section;
  font-family: 'Helvetica', sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  &::before {
    counter-increment: section;
    content: counter(section);
    font: {
      family: "Monoton";
      size: 10rem;
    }
  }

  &:nth-child(even) {
    background-color: map-get($section-colors, 'even');
    color: rgba(0, 0, 0, .5);
  }

  &:nth-child(odd) {
    background-color: map-get($section-colors, 'odd');
    color: rgba(255, 255, 255, .5);
  }
}
