@use 'sass:math';
@use './functions' as fn;
@use './variables' as var;

@mixin edge-root {
  $sides: fn.get-sides();

  position: relative;

  &::after {
    @if var.$layout == 'x' {
      top: 0;
    }
    @else if var.$layout == 'y' {
      right: 0;
    }

    #{nth($sides, 2)}: -#{var.$height};
  }

  &::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    -webkit-transform: rotate(360deg); // * note: this fixes choppy borders on Safari
    z-index: 1;
  }
}

@mixin edge ($color, $position, $height: var.$height) {
  $size: fn.get-size();
  $sides: fn.get-sides();
  $opposite-sides: fn.get-opposite-sides();

  @if $height != var.$height {
    &::after {
      #{nth($sides, 2)}: -#{$height};
    }
  }

  @if $position == 'left' or $position == 'right' {
    &::after {
      border: {
        @if var.$layout == 'x' {
          left-color: $color;
          left-width: $height;
          #{nth($opposite-sides, index($sides, $position))}-width: $size;
        }
        @else if var.$layout == 'y' {
          #{nth($sides, index($sides, $position))}-color: $color;
          #{nth($sides, index($sides, $position))}-width: $size;
          bottom-width: $height;
        }
      }
    }
  }
  @else if $position == 'in' or $position == 'out' {
    &::after {
      border: {
        #{nth($opposite-sides, 1)}-width: math.div($size, 2);
        #{nth($opposite-sides, 2)}-width: math.div($size, 2);
      }

      @if $position == 'in' {
        border: {
          #{nth($opposite-sides, 1)}-color: $color;
          #{nth($opposite-sides, 2)}-color: $color;
          #{nth($opposite-sides, 3)}-width: $height;
        }
      }
      @else if $position == 'out' {
        border: {
          #{nth($sides, 1)}-color: $color;
          #{nth($sides, 1)}-width: $height;
        }
      }
    }
  }
}
