@mixin sloped-edge-root {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    border: 0 solid transparent;
    -webkit-transform: rotate(360deg); // * note: this fixes choppy borders on Safari
    z-index: 1;
  }
}

@mixin sloped-edge ($color: null, $position: null, $height: $sloped-edge-height) {
  $width: 100vw; // * note: hard-coded value, cause it makes no sense to make this an argument

  &:not(:first-child) {
    padding-top: $height;
  }

  &::after {
    bottom: -$height;
  }

  @if $position == 'left' or $position == 'right' {
    &::after {
      border: {
        bottom-width: $height;
        #{$position}-width: $width;
        #{$position}-color: $color;
      }
    }
  }
  @else if $position == 'in' or $position == 'out' {
    &::after {
      border: {
        left-width: ($width / 2);
        right-width: ($width / 2);
      }

      @if $position == 'in' {
        border: {
          bottom-width: $height;
          left-color: $color;
          right-color: $color;
        }
      }
      @else if $position == 'out' {
        border: {
          top-color: $color;
          top-width: $height;
        }
      }
    }
  }
}
