@mixin sloped-edge ($color: null, $position: null, $height: 5rem, $root: false) {
  $width: 100vw; // * note: hard-coded value, cause it makes no sense to make this an argument

  @if $root == true {
    position: relative;

    &:not(:first-child) {
      padding-top: $height;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -$height;
      border: 0 solid transparent;
      -webkit-transform: rotate(360deg); // * note: this fixes choppy borders on Safari
      z-index: 1;
    }
  }
  @else {
    @if $position == 'left' or $position == 'right' {
      &::after {
        border-bottom-width: $height;
        border-#{$position}-width: $width;
        border-#{$position}-color: $color;
      }
    }

    @if $position == 'in' or $position == 'out' {
      &::after {
        border-left-width: ($width / 2);
        border-right-width: ($width / 2);

        @if $position == 'in' {
          border-bottom-width: $height;
          border-left-color: $color;
          border-right-color: $color;
        }
        @else if $position == 'out' {
          border-top-color: $color;
          border-top-width: $height;
        }
      }
    }
  }
}
