@import '../../../../src/index';

.sloped {
  // this is our root class, to avoid duplication of properties
  @include sloped-edge-root;

  // all variants composed in a list
  $positions: ('in', 'right', 'out', 'left');

  // build it up 👏
  @each $position in $positions {
    $index: index($positions, $position);
    $color: if($index % 2 == 0, 'even', 'odd');

    &:nth-child(#{$index}) {
      @include sloped-edge(
        $color: map-get($colors, $color),
        $position: $position,
        // $height: unquote(($index * 2) + 'rem')
      );
    }
  }
}
